html{
    height: 100%;
}
body{
    /*background: linear-gradient(red 50%, orange);*/
    background-repeat: no-repeat;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b0/Est%C3%A1dio_da_Luz_em_dia_de_jogo.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: 50pt;
    font-weight: 200;
    margin-top: 100px;
    color: white;   
}
.font-webteca{
    font-family: 'Courgette', cursive;
}
.busca-principal{
    text-align: center;
}
.busca-principal button{
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-family: 'Courgette', cursive;
}
.busca-principal button:hover{
    cursor: pointer;
}
.busca-principal input{
    padding: 20px;
    width: 70%;
    background-color: rgba(225,225,225,.8);
    border: none;
    border-radius: 5px;
    font-size: 12pt;
    color: white;
}
.busca-principal input::-webkit-input-placeholder{
    color: white;
}

@keyframes anima-div{
    0%{
        margin-top: 300px;
        opacity: 0;
    }
    100%{
        margin-top: 0px;
        opacity: 1;
    }
}

.card-time{
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.5);
    vertical-align: top;
    width: 200px;
}
.card-time > div:first-child{
    width: inherit;
    height: auto;
}
.card-time > div:last-child{
    width: inherit;
    height: auto;
    padding: 10px;
}
.card-time img{
    height: auto;
    width: inherit;
}
.card-time span{
    font-size: 20pt;
    word-break: normal;
}
.card-time p{
    font-size: 10pt;
    color: gray;
    margin: 0px;
    padding: 0px;
}
.time-nao-encontrado{
    font-size: 20pt;
    background-color: white;
    color: red;
    padding: 10px;
    width: 30%;
    margin: 20px auto;
    text-align: center;
}